{% extends "base.html.twig" %}

{% block title %}
	Reset Password
{% endblock %}

{% block body %}

	<br>
	<br>
	<br>
	<div class="container mb-4 bg-light ">
		<img class="d-block mx-auto mb-4" src="{{ asset ('image/P logo.png')}}" alt="" width="150" height="150">
		<br>
		<h4 class="text-center text-muted">There we go, one more step to get back your Pineapple Pineapple account<br><br>It's simple just create a password with atleast 8 characters
		</h4>
		<br>
		<br>
		{% for message in app.flashes('message') %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning" role="alert">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{% endfor %}

		<form method="post">

			{% if app.user %}
				<div class="mb-3">
					Hi
					{{ app.user.lastname}}
				</div>
			{% endif %}

			<label for="password">
				<i class="fas fa-key">Password</i>
			</label>
			<input type="password" name="password" id="password">
			<input type="hidden" name="token" value="{{token}}">
			<br>
			<button class="btn btn-primary">Reset</button>
		</form>
	</div>
{% endblock %}
