{% extends 'admin/adminbase.html.twig' %}

{% block title %}Product Administration
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="my-5 text-center">Product Management</h1>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th class="text-center">Quantity</th>
					<th class="text-center">Price</th>
					<th class="text-center">Rating</th>
					<th class="text-center">Odrders</th>
				</tr>
			</thead>

			<tbody>
				{% for products in product %}

					<tr>
						<td>{{products.id}}</td>
						<td>{{products.productname}}</td>

						<td class="text-center">
							<span class="badge badge-info rounded ">
								{{products.quantity}}
							</span>
						</td>

						<td class="text-center">
							<span class="badge badge-info rounded ">
								{{products.price}}
								FCFA
							</span>
						</td>

						<td class="text-center class=" text-center"">
							<span class="badge badge-info rounded ">{{products.AvgRatings |number_format(1, '.', ',')}}</span>

						</td>

						<td class="text-center class=" text-center"">
							<span class="badge badge-info rounded ">{{products.orders | length}}</span>

						</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>
{% endblock %}
